// @mixin
.footer-last {
  .footer-bottom {
    display: flex;
    flex-direction: column;
    &__left {
      display: flex;
      flex-direction: column;
      &--logo {
        margin: 0;

        margin-bottom: 24px;
      }
      p {
        text-align: center;
        margin-bottom: 40px;
      }
    }
    &__right {
      // display: flex;
      flex-direction: column;
      align-items: center;
      &--meseng {
        margin-bottom: 16px;
        .footer-bottom__right--a3.xx {
          margin: 0;
        }
      }
    }
  }
}
